*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
@media (max-width: 739px) {
    .header-top{
        padding-left: 40px;
        padding-right: 40px;
    }
    
}